@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --Heading: #1d1d1d;
  --font: "DM Sans";
}

.footer {
  width: 100%;
  height: 236px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  color: var(--Secondary, #2429af);
  width: 50%;
  /* Navigation */
  font-family: "DM Sans";
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 25.2px */
  letter-spacing: -0.63px;
}
.footer-links-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: var(--Main-Black, #181717);
  width: 50%;
align-items:center;
justify-content:flex-end;
  /* Navigation */
  font-family: "DM Sans";
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 25.2px */
  letter-spacing: -0.63px;
}

@media (max-width: 992px){
  .footer {
    width: 100%;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width:490px){
  .footer {
    width: 100%;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.footer-container{
  width: 80%;
}
  .footer-logo {
    color: var(--Secondary, #181717);
    width: 45%;
    height: 50px;

    /* Navigation */
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 25.2px */
    letter-spacing: -0.63px;
  }
  .footer-links-container {
    flex-direction: column;
    width: 30%;
    height: 50px;
    gap:2px;
  align-items:flex-start;
  justify-content:center;
    /* Navigation */
    font-size: 18px;
     /* overflow: hidden; */
  }
}